.da-thumbs li a div {
	top: 0px;
	left: -100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.da-thumbs li a:hover div{
	left: 0px;
}